
/* PRINT VERSION */
@media print {}

/* PHONE LANDSCAPE VERSION
@media only screen and (min-width: 320px) and (orientation : landscape) {
    h3:after {content: ' - PHONE LANDSCAPE'; display: inline;

/* PHONE PORTRAIT VERSION */
@media only screen and (max-width: 320px){
    /* Header */
    .header_rightnav{display:none;}
    .header_leftnav{display:none;}
    /* Big Wrapper */
    .big_wrapper{width:86px;}
    /* Commerce */
    /* Partie droite */
    .commerce_head_infos{display:none;}
    /* Objet */
    /* Partie droite */
    .objet_head_infos{display:none;}
}
@media only screen and (min-width:320px) and (max-width: 480px){
    /* Header */
    .header_rightnav{display:none;}
    .header_leftnav{display:none;}
    /* Big Wrapper */
    .big_wrapper{width:236px;}
    /* Commerce */
    /* Partie droite */
    .commerce_head_infos{display:none;}
    /* Objet */
    /* Partie droite */
    .objet_head_infos{display:none;}
}
/* TABLET PORTRAIT VERSION */
@media only screen and (min-width:480px) and (max-width: 768px){
    /* Réduction des marges droite/gauche */
    .biggymarginer{padding:0 9px;}
    /* Header */
    .header_leftnav{display:none;}
    .header_rightnav{display:none;}
    /* Big Wrapper */
    .big_wrapper{width:486px;}
    /* Commerce */
    /* Partie droite */
    .commerce_head_infos{display:none;}
    /* Objet */
    /* Partie droite */
    .objet_head_infos{display:none;}
    .commerce_couv{height:139px;}
}
/* DESKTOP VERSION */
@media only screen and (min-width:768px) and (max-width: 960px) {
     /* Réduction des marges droite/gauche */
    .biggymarginer{padding:0 9px;}
    /* Header */
    .header_leftnav{display:none;}
    .header_rightnav{display:none;}
    /* Big Wrapper */
    .big_wrapper{width:736px;}
    /* Commerce */
    /* Partie droite */
    .commerce_head_infos{display:none;}
    /* Objet */
    /* Partie droite */
    .objet_head_infos{display:none;}
    .commerce_couv{height:210px;}
}
@media only screen and (min-width:960px) and (max-width: 1280px) {
    /* Réduction des marges droite/gauche */
    .biggymarginer{padding:0 9px;}
    /* Header */
    .header_leftnav{display:none;}
    .header_rightnav{display:none;}
    /* Big Wrapper */
    .big_wrapper{width:986px;}
    /* Commerce */
    /* Partie droite */
    .commerce_head_infos{display:none;}
    /* Objet */
    /* Partie droite */
    .objet_head_infos{display:none;}
    .commerce_couv{height:282px;}
}
@media only screen and (min-width:1280px) and (max-width: 1366px) {
    /* Réduction des marges droite/gauche */
    .biggymarginer{padding:0 9px;}
    /* Header */
    .header_leftnav{display:none;}
    .header_rightnav{display:none;}
    /* Big Wrapper */
    .big_wrapper{width:1236px;}
    .commerce_couv{height:353px;}
}
@media only screen and (min-width:1366px) and (max-width: 1600px) {
    /* Réduction des marges droite/gauche */
    .biggymarginer{padding:0 9px;}
    /* Header */
    .header_leftnav{display:none;}
    .header_rightnav{display:none;}
    /* Big Wrapper */
    .big_wrapper{width:1486px;}
    .commerce_couv{height:425px;}
}
@media only screen and (min-width:1600px) and (max-width: 1920px) {
    /* Réduction des marges droite/gauche */
    .biggymarginer{padding:0 9px;}
    /* Header */
    .header_leftnav{display:none;}
    .header_rightnav{display:none;}
    /* Big Wrapper */
    .big_wrapper{width:1736px;}
}

